export AXIOM_TOKEN=axiom-token-here
export WUD_OIDC_CLIENT_SECRET=oidc-client-secret-here
export DISCORD_WEBHOOK_URL=discord-webhook-url-here
export WUD_GHCR_USERNAME=ghcr-username-here
export WUD_GHCR_TOKEN=ghcr-token-here
export VALKEY_USERNAME=valkey-username-here
export VALKEY_PASSWORD=valkey-password-here